In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import time
from datetime import datetime
import random

In [2]:
# Loading csv files and combining them into dataframe
data_files=['../data/201901-citibike-tripdata.csv',
            '../data/201902-citibike-tripdata.csv',
            '../data/201903-citibike-tripdata.csv',
            '../data/201904-citibike-tripdata.csv',
            '../data/201905-citibike-tripdata.csv',
            '../data/201906-citibike-tripdata.csv',
            '../data/201907-citibike-tripdata.csv',
            '../data/201908-citibike-tripdata.csv',
            '../data/201909-citibike-tripdata.csv',
            '../data/201910-citibike-tripdata.csv',
            '../data/201911-citibike-tripdata.csv',
            '../data/201912-citibike-tripdata.csv']

dfs = [pd.read_csv(f) for f in data_files]

df = pd.concat(dfs,ignore_index=True)

print(df.shape)

(20551697, 15)

In [3]:
df_sample = df.sample(frac=0.05, random_state = 42)

In [4]:
print(df.shape)

(20551697, 15)

In [5]:
df1 = df_sample.copy()

In [6]:
df1.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [7]:
df1.isnull().sum()

tripduration               0
starttime                  0
stoptime                   0
start station id           9
start station name         9
start station latitude     0
start station longitude    0
end station id             9
end station name           9
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

# Convert to datetime

In [8]:
df1['starttime'] = pd.to_datetime(df1['starttime'])
df1['stoptime'] = pd.to_datetime(df1['stoptime'])
df1.rename(columns={'start station id':'start_station_id', 'start station name':'start_station_name',\
                     'start station latitude':'start_station_latitude', 'start station longitude':'start_station_longitude',\
                     'end station id':'end_station_id', 'end station name':'end_station_name',\
                     'end station latitude':'end_station_latitude', 'end station longitude':'end_station_longitude'},\
             inplace=True)
df1.dropna(inplace=True)
df1['start_station_id'] = df1['start_station_id'].astype(int)
df1['end_station_id'] = df1['end_station_id'].astype(int)
df1['date'] = df1['starttime'].dt.strftime('%Y-%m-%d')
df1['date'] = pd.to_datetime(df1['date'])
df1['month'] = df1['date'].dt.strftime('%m')
df1['day'] = df1['date'].dt.strftime('%d')
df1['hour'] = df1['starttime'].dt.hour
df1['age'] = 2020 - df1['birth year']

In [9]:
df1.head()

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth year,gender,date,month,day,hour,age
18269504,447,2019-11-03 13:23:21.614,2019-11-03 13:30:48.617,3734,E 58 St & 1 Ave (NW Corner),40.759125,-73.962658,3156,E 72 St & York Ave,40.766638,-73.953483,38451,Subscriber,1986,1,2019-11-03,11,03,13,34
6816941,1748,2019-05-30 11:43:48.035,2019-05-30 12:12:56.635,483,E 12 St & 3 Ave,40.732233,-73.988900,460,S 4 St & Wythe Ave,40.712859,-73.965903,31065,Subscriber,1964,1,2019-05-30,05,30,11,56
11696698,684,2019-08-06 18:56:42.449,2019-08-06 19:08:07.198,426,West St & Chambers St,40.717548,-74.013221,368,Carmine St & 6 Ave,40.730386,-74.002150,17112,Customer,1987,2,2019-08-06,08,06,18,33
15710480,561,2019-09-27 08:22:59.966,2019-09-27 08:32:21.772,267,Broadway & W 36 St,40.750977,-73.987654,359,E 47 St & Park Ave,40.755103,-73.974987,35233,Subscriber,1981,1,2019-09-27,09,27,8,39
14192919,1726,2019-09-09 16:49:42.482,2019-09-09 17:18:29.268,525,W 34 St & 11 Ave,40.755942,-74.002116,337,Old Slip & Front St,40.703799,-74.008387,25424,Subscriber,1977,1,2019-09-09,09,09,16,43

In [10]:
df1.to_csv('final.csv')