In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import r2_score, explained_variance_score, confusion_matrix, accuracy_score, classification_report, log_loss
from math import sqrt

In [2]:
df = pd.read_csv("../data/final.csv")
df.drop(["Unnamed: 0", 'birth year', 'date', 'starttime', 'stoptime'], inplace=True, axis=1)
df.head()

,tripduration,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,gender,month,day,hour,dayofweek,Isweekday,age,ages
0,574,359,E 47 St & Park Ave,40.755103,-73.974987,528,2 Ave & E 31 St,40.742909,-73.977061,33216,Subscriber,1,1,30,17,3,1,27,20s
1,709,493,W 45 St & 6 Ave,40.756800,-73.982912,3159,W 67 St & Broadway,40.774925,-73.982666,16092,Subscriber,1,1,23,19,3,1,30,20s
2,1993,503,E 20 St & Park Ave,40.738274,-73.987520,3709,W 15 St & 6 Ave,40.738046,-73.996430,34868,Subscriber,1,1,26,18,6,0,43,40s
3,392,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,438,St Marks Pl & 1 Ave,40.727791,-73.985649,31405,Subscriber,1,1,5,18,6,0,24,20s
4,543,3496,1 Ave & E 110 St,40.792327,-73.938300,3671,E 81 St & 2 Ave,40.774779,-73.954275,35695,Subscriber,1,1,23,15,3,1,22,20s

In [3]:
round(df.describe(),2)

,tripduration,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bikeid,gender,month,day,hour,dayofweek,Isweekday,age
count,1027567.00,1027567.00,1027567.00,1027567.00,1027567.00,1027567.00,1027567.00,1027567.00,1027567.00,1027567.00,1027567.00,1027567.00,1027567.00,1027567.00,1027567.00
mean,962.07,1665.58,40.74,-73.98,1656.20,40.74,-73.98,29687.62,1.16,6.86,15.66,13.88,3.89,0.75,39.83
std,8802.28,1478.15,0.03,0.02,1477.09,0.03,0.02,7557.05,0.54,2.99,8.75,4.86,1.95,0.43,12.16
min,61.00,72.00,40.66,-74.03,72.00,40.66,-74.06,14529.00,0.00,1.00,1.00,0.00,1.00,0.00,17.00
25%,362.00,380.00,40.72,-74.00,379.00,40.72,-74.00,25359.00,1.00,5.00,8.00,10.00,2.00,0.00,30.00
50%,614.00,514.00,40.74,-73.99,513.00,40.74,-73.99,30926.00,1.00,7.00,16.00,14.00,4.00,1.00,37.00
75%,1078.00,3296.00,40.76,-73.97,3295.00,40.76,-73.97,35055.00,1.00,9.00,23.00,18.00,6.00,1.00,51.00
max,2264557.00,3911.00,40.82,-73.90,3911.00,40.82,-73.90,42046.00,2.00,12.00,31.00,23.00,7.00,1.00,135.00

In [4]:
# Drop Irrelevant Data
df.drop(["start_station_id", "start_station_latitude", "start_station_longitude", "end_station_id", "end_station_latitude", 
         "end_station_longitude", "bikeid", "start_station_name", "end_station_name", 'day', 'age'], axis=1, inplace=True)
df['usertype'] = df['usertype'].map({'Subscriber': 1, "Customer":1})
df.head()

   tripduration  usertype  gender  month  hour  dayofweek  Isweekday ages
0           574         1       1      1    17          3          1  20s
1           709         1       1      1    19          3          1  20s
2          1993         1       1      1    18          6          0  40s
3           392         1       1      1    18          6          0  20s
4           543         1       1      1    15          3          1  20s

In [5]:
df.dtypes

tripduration     int64
usertype         int64
gender           int64
month            int64
hour             int64
dayofweek        int64
Isweekday        int64
ages            object
dtype: object

In [7]:
# Making categorical variables into numeric representation
features = ['tripduration', 'gender', 'month', 'hour', 'dayofweek', 'Isweekday', 'ages']
new_df = pd.get_dummies(df, columns = features)

# Notes:
# We can also do this with Label Encoding and OneHotEncoder from the preprocessing library

print(df.shape)
# print the shape
print(new_df.shape)

# Visualizing the data
new_df

MemoryError: Unable to allocate 8.43 GiB for an array with shape (1027567, 8811) and data type uint8

In [8]:
#Predictor variable
X = df.drop('usertype',axis=1)
#Target variable
y = df['usertype']

y = y.astype(int)

print(X.shape)
print(y.shape)

(1027567, 7)
(1027567,)

In [ ]:
# Run a Tree-based estimators (i.e. decision trees & random forests)
dt = DecisionTreeClassifier(random_state=42, criterion = 'entropy', max_depth = 100)
dt.fit(X,y)